$bgColor: #282c34;
$buttonColor: #2f78ed;
@mixin standartButton {
  background-color: $bgColor;
  color: $buttonColor;
  border: 2px solid $buttonColor;
  font-size: 27px;
  padding: 6px;
  border-radius: 3px;
}




.App {
  text-align: center;
}

.text {
  align-self: center;
}

.pictureContainer {
  width: 80%;

  .chosen {
    color: red;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/*.picture {
  height: calc(100% - 0vmin);
  width: calc(100% - 80vmin);
  pointer-events: none;
  margin-left: 0%;
  justify-content: flex-start;
  margin-right: 1%;
}*/

// .clickFrame :hover {
//   filter: blur(10px);
// }

.clickFrame {
  cursor: pointer;
  width: auto;
  /* margin-left: 3%; */
  justify-content: flex-start;
  /* margin-right: 3%; */
  margin: 9px 12px 9px 12px;
  display: inline-block;
  }

.opacity{
  opacity: 0.5;
}

.QuestionContainer {
  background-color: $bgColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.ResultContainer {
  background-color: $bgColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  bottom: 0;
}

.percentage {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 12%;
  margin-right: 12%;
  padding: 0;
  height: 16px;
}

.percentageNum {
  color: black;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 10px;
  text-align: left;
  vertical-align: center;
}

.container {
  background-color: $bgColor;
  min-height: 40vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.space {
  width: 10vmin;
}

.result {
  margin: 0;
  padding: 0;
  height: 5px;
  background-color: white;
}


.submitButton{
  @include standartButton;
  max-width: 10%;
  align-self: center;
  position: static;
  margin: 10vh;
  bottom: 0;
}
.resetButton{
  @include standartButton;
  max-width: 10%;
  align-self: flex-end;
  position: sticky;
  margin-right: 22.9vw;
}
.App-link {
  color: #61dafb;
}

.mlg {
  animation: mlg-spin infinite 0.5s linear;
  filter: blur(5px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes mlg-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
